        <section id="books" class="my-5 pb-5">
            <div class="container text center mt-5 py-5">
              <h3 style="text-align: center;">Books you can Buy</h3>
              <hr class="mx-auto">
              <p style="text-align: center;">check out the prices for our quality books</p>
            </div>
            <div class="row mx-auto container-fluid">
              <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid" src="img/shoe1.jpg" alt="">
                <div class="star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <h5 class="p-name">Kiswahili</h5>
                <h4 class="p-price">$55.00</h4>
                <button class="buy-btn">Buy Now</button>
              </div>
              <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid" src="img/shoe2.jpg" alt="">
                <div class="star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <h5 class="p-name">casual watch</h5>
                <h4 class="p-price">$35.00</h4>
                <button class="buy-btn">Buy Now</button>
              </div>
              <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid" src="img/shoe3.jpg" alt="">
                <div class="star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <h5 class="p-name">collage bag</h5>
                <h4 class="p-price">$75.00</h4>
                <button class="buy-btn">Buy Now</button>
              </div>
              <div class="product text-center col-lg-3 col-md-4 col-12">
                <img class="img-fluid" src="img/shoe4.jpg" alt="">
                <div class="star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <h5 class="p-name">classic bean</h5>
                <h4 class="p-price">$15.00</h4>
                <button class="buy-btn">Buy Now</button>
              </div>
    
            </div>
        </section>